Tehtävä1

In [1]:
def autot(url1,url2):
    import pandas as pd
    df1 = pd.read_csv(url1,sep=';')
    df2 = pd.read_csv(url2,sep=';')
    df3 = pd.concat([df1,df2])
    result = df3['Cn'].value_counts().sort_values(ascending=False)
    tulos = result.head()
    print(tulos)
autot("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv")

OCTAVIA    396
FABIA      377
RAPID      197
SUPERB     159
KAROQ      148
Name: Cn, dtype: int64

Tehtävä2

In [2]:
def autot(url_a1, url_a2, url_b1, url_b2):
    import pandas as pd
    df1 = pd.read_csv(url_a1,sep=';')
    df2 = pd.read_csv(url_a2,sep=';')
    df3 = pd.read_csv(url_b1,sep=';')
    df4 = pd.read_csv(url_b2,sep=';')
    dfa = pd.concat([df1,df2])
    dfb = pd.concat([df3,df4])
    df = pd.merge(dfa,dfb, on='ID')
    df.fillna({'ep (KW)':0},inplace=True)
    tulos = pd.DataFrame(df[['Mh','ep (KW)']]).groupby('Mh',as_index=False).mean().sort_values(by='ep (KW)',ascending=False)
    tulos = tulos.head()
    print(tulos)
autot("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv")

                Mh     ep (KW)
6            TESLA  386.000000
0           AA-IVA  267.750000
2  FORD WERKE GMBH   89.741007
5            SKODA   81.372515
3              KIA   77.000000

Tehtävä3

In [3]:
def autot(url_a1, url_a2, url_b1, url_b2):
    import pandas as pd
    df1 = pd.read_csv(url_a1,sep=';')
    df2 = pd.read_csv(url_a2,sep=';')
    df3 = pd.read_csv(url_b1,sep=';')
    df4 = pd.read_csv(url_b2,sep=';')
    dfa = pd.concat([df1,df2])
    dfb = pd.concat([df3,df4])
    df = pd.merge(dfa,dfb, on='ID')
    df['Ft'].replace({'DIESEL':'Diesel','PETROL':'Petrol'},inplace=True)
    result = pd.crosstab(df['Mh'],df['Ft'], values= df['Enedc (g/km)'], aggfunc='mean').round(1)
    tulosdf = result[['Diesel','Petrol']]
    tulos = tulosdf.head()
    print(tulos)
    
autot("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv")

Ft                   Diesel  Petrol
Mh
AA-IVA                129.0   194.7
AUTOMOBILES CITROEN   102.7   105.6
FORD WERKE GMBH       112.9   133.7
KIA                     NaN    88.0
NISSAN                112.3   127.7

Tehtävä4

In [4]:
def autot(url_a1, url_a2, url_b1, url_b2):
    import pandas as pd
    import numpy as np
    df1 = pd.read_csv(url_a1,sep=';')
    df2 = pd.read_csv(url_a2,sep=';')
    df3 = pd.read_csv(url_b1,sep=';')
    df4 = pd.read_csv(url_b2,sep=';')
    dfa = pd.concat([df1,df2])
    dfb = pd.concat([df3,df4])
    df = pd.merge(dfa,dfb, on='ID')
    df['Ft'].replace({'DIESEL':'Diesel','PETROL':'Petrol'},inplace=True)
    result = df.pivot_table(['ec (cm3)'],index=['Mh'],columns=['Ft'],dropna=False).round(1)
    result.drop(['NG','Electric'],axis=1,level=1,inplace=True)
    result.fillna('no value',inplace=True)
    tulos = result.head(10)
    print(tulos)
    
autot("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv")

                     ec (cm3)
Ft                     Diesel    Petrol
Mh
AA-IVA                 1995.0    3596.0
AUTOMOBILES CITROEN    1560.0    1131.0
FORD WERKE GMBH        1615.1    1291.5
KIA                  no value    1580.0
NISSAN                 1559.4    1247.5
SKODA                  1799.5    1190.6
TESLA                no value  no value

Tehtävä5

In [60]:
def autot(url_a1, url_a2, url_b1, url_b2):
    import pandas as pd
    df1 = pd.read_csv(url_a1,sep=';')
    df2 = pd.read_csv(url_a2,sep=';')
    df3 = pd.read_csv(url_b1,sep=';')
    df4 = pd.read_csv(url_b2,sep=';')
    dfa = pd.concat([df1,df2])
    dfb = pd.concat([df3,df4])
    df = pd.merge(dfa,dfb, on='ID')
    df['Ft'].replace({'DIESEL':'Diesel','PETROL':'Petrol'},inplace=True)
    data_df = df[['Enedc (g/km)','MS','Ft']].copy()
    data_df.rename(columns={'Enedc (g/km)':'Avg emissions (g/km)','MS':'Member State','Ft':'Fuel type'},inplace=True)
    result = data_df.pivot_table(['Avg emissions (g/km)'],index=['Member State'],columns=['Fuel type'],dropna=False)
    result.drop(['NG','Electric'],axis=1,level=1,inplace=True)
    result['Avg emissions (g/km)','D-P'] = result['Avg emissions (g/km)','Diesel'] - result['Avg emissions (g/km)','Petrol']
    tulos = result.sort_values(('Avg emissions (g/km)','D-P'),ascending=False).round(0).applymap(lambda x: "{:.0F}".format(x)).head()
    print(tulos)
autot("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv")

             Avg emissions (g/km)
Fuel type                  Diesel Petrol D-P
Member State
EE                            132    108  25
FI                            137    112  25
LV                            131    108  23
GR                            122    100  22
CZ                            122    110  12